[Unit]
Description=Application Server
After=network.target

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

# Preferably configure a non-privileged user
User=door

# The path to the puma application root
# Also replace the "<WD>" place holders below with this path.
WorkingDirectory=/home/door/door-usb-relay

# Helpful for debugging socket activation, etc.

# The command to start Puma. This variant uses a binstub generated via
ExecStart=/home/door/door-usb-relay/bin/server

Restart=always

# output goes to /var/log/syslog
StandardOutput=syslog
StandardError=syslog

# This will default to "bundler" if we don't specify it
SyslogIdentifier=door-server

[Install]
WantedBy=multi-user.target